@import './reset.css';
@import "../node_modules/tachyons";
/* They forgot to include word break: https://github.com/tachyons-css/tachyons/issues/563 */
@import "../node_modules/tachyons/src/_word-break.css";
@import "../node_modules/ipfs-css";

body {
  overflow-y: scroll;
}

.placeholder-light::placeholder{
  color: #CAD3D8;
}

.bg-near-white {
  background-color: #fbfbfb;
}

html, body, #root {
  min-height: 100%;
}

.appOverlay {
  width: 100%;
}

@media only screen and (min-width: 60em) {
  .appOverlay {
      width: calc(100% - 148px)
  }
}

/* =========================
    React Joyride overrides
   ========================= */

.react-joyride__tooltip button {
  font-size: 14px !important;
  font-family: 'Montserrat';
}

.clickable {
  cursor: pointer;
}

.green-hover:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.red-hover:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(300deg) brightness(95%) contrast(80%);
}

.blue-hover:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(160deg) brightness(95%) contrast(80%);
}

.transparent-25 {
  filter: opacity(25%);
}

.hover-bg-transparent-blue:hover {
  background-color: rgba(11, 58, 83, 0.05);
}

.center-container {
  position: relative;
}

.center-element {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.text-center {
  text-align: center;
}

.p-3 {
  padding: 20px;
}

.border-top {
  border-top: #eee;
  border-width: 1px;
  border-top-style: solid;
}

.w2_5 {
  width: 2.5rem;
}

.bold {
  font-weight: bold;
}

.animated-background-bright {
  animation-name: animated-background-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animated-background-color {
  0% {filter: brightness(100%)}
  50% {backdrop-filter: brightness(150%)}
  100% {filter: brightness(100%)}
}
